.adminSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background: #1e3a8a; /* көк блок */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
}

.sidebar-header h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar-menu a:hover {
  color: #facc15; /* саргыч hover */
}

.sidebar-footer {
  margin-top: auto;
}

.logout-btn {
  width: 100%;
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
}