
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.banner{
 display: flex;
  justify-content: center; /* ортого чыгарат */
  background-color: #E2E2E2;
  padding: 20px 0; /* үстү-астынан бир аз боштук */
  width: 100%;
  box-sizing: border-box;
   font-family: Montserrat;
 
}
.banner img{
  width: 1100px;
  border-radius: 15px;
  height: 250px;
}
.banner-all{
    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;              /* блоктун туурасы */
  height: 200px;
  padding: 1px 180px;
  background: #000000;
  border-radius: 45px;
  box-sizing: border-box;
}
.banner-all .banner-logo h2{
 color: white;
 font-size: 30px;
 font-weight: 600;
 font-family: Montserrat;

}
.banner-all .banner-img img{
    width: 300px;
    height: 250px;
    margin-bottom: 8px;
}

@media (max-width: 1100px) {
  .favContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .favContainer {
    grid-template-columns: 1fr;
  }
}
  .carousel{
        width: 892px;
        height: 344px;
        /* img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        } */
    }