.contact-section {
  max-width: 1600px;
  margin: 0 auto;
  background: #E2E2E2;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.contact-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.map-block {
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 800px;
  height: 400px;
}

.address {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-icons a {
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #333;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}

.social-icons a:hover {
  background: #e6e6e6;
}

.phone-block {
  margin-top: 25px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  font-weight: bold;
}

.phone-icon {
  font-size: 20px;
}
.map-block h4{
    padding-bottom:15px ;
}